.option {
 
  height:50px;
  width:40%;
  color:black;
  margin-top: 100px;
  border-radius: 20px;
  box-shadow: 5px 5px 7px rgb(104, 103, 103);

}

.options{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
 
  

}.score{
font-size: x-large;
display: flex;
  align-items: center;
  justify-content: center;
  height:700px;
  
  
}
.question{
  color:rgb(104, 140, 161);
  background-color: rgb(78, 74, 74);
  display:flex;
  justify-content:center ;
  height:80px;
  align-items:center ;
  

}



